<div class="flex-container">
  <div>
    <div style="font-weight: 800; font-size: 4em">Avijeet Anchal</div>
    <div style="font-weight: 500; font-size: 2em">Full Stack Developer</div>
    <div style="font-weight: 400; font-size: 1.5em">MEAN / MERN</div>
    <div
      style="font-weight: 200; font-size: 1.2em; display: block; width: 20vw"
    >
      I build pixel-perfect, engaging, and accessible digital experiences.
    </div>
  </div>

  <div>
    <ul style="list-style: none">
      <li><a href="#about-me">ABOUT</a></li>
      <li><a href="#experience">EXPERIENCE</a></li>
      <li><a href="#projects">PROJECTS </a></li>
      <li>
        <a href="assets/cv.pdf" target="_blank">Résumé</a>
      </li>
    </ul>
  </div>

  <div style="font-weight: 500; font-size: 1.5em">
    Managed by:
    <div>Avijeet Anchal</div>
    <div>Anas Abdulla</div>
  </div>
</div>
